@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Roboto:wght@100&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #322653;
    
}


.cabecalho {
    
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;

    width: 100%;
    height: 60px;

    background: #322653;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 
}

.cabecalho__link {

    width: 64px;
    flex-shrink: 0;
    margin: 0 0 0 3%;

    text-decoration: none;
    cursor: pointer;
    font-family: Roboto;
    
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}



header {
    display: flex;
    width: 387px;
    height: 38px;
    flex-shrink: 0;

    width: 100%;
    height: 60px;

    background: #322653;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.retangulo__branco{

    width: 483px;
    height: 562px;
    border-radius: 50px;
    background: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 3%;
    
    
}




.card__login {                 /*classe da palavra login */
    
    color: #000;
    text-align: center;
    font-family: Archivo Narrow;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    
    height: 30%;
    flex-shrink: 0;
}


.card__email {
    width: 79.549px;
    height: 23.299px;
    flex-shrink: 0;

    color: #000;
    font-family: Archivo Narrow;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input__email {

    width: 100%;
    height: 44.805px;
    flex-shrink: 0;

    color: rgba(0, 0, 0, 0.26);
    font-family: Roboto;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.card__senha {
    width: 80.694px;
    height: 21.722px;
    flex-shrink: 0;

    color: #000;
    font-family: Archivo Narrow;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input__senha {

    width: 100%;
    height: 41.772px;
    flex-shrink: 0;

    color: rgba(0, 0, 0, 0.26);
    font-family: Roboto;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.input__entrar {

    width: 146px;
    height: 35px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    margin: 15% 0 0 25%;
    
    border-radius: 10px;
    background: #FAEA48;
}



main {
  
    margin: 8%;
    display: flex;
    justify-content: center;

}

footer {
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: Archivo Narrow;
    
}

.bloco__texto {
    margin-right: 10%;
    
    display: inline-block;
    margin: 0 10 px;
}

.bloco-texto h3 {
    font-size: 24px;
    margin-bottom: 10px; 
}

.rodape {
    display: flex;
    justify-content: space-around;
    margin: 3% 0 0 0;
}

.container__institucional {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
}

h4 {
    margin: 10% 0;
    font-family: Archivo Narrow;
    font-size: 140%;
    font-style: normal;
    font-weight: 400;
    color: var(--cor-quaternaria);
}


.rodape__link {
    text-decoration: none;
    font-family: Archivo Narrow;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    color: var(--cor-quaternaria);
}


.p__atendimento {
    font-family: Archivo Narrow;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    color: var(--cor-quaternaria);
    margin: 0 0 8% 0;
}

.atendimento__icones {
    display: flex;
    justify-content: space-around;
}

