@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Roboto:wght@100&display=swap');

.fonteMenu{
    font-weight: bold;
    font-family: Roboto;
}

.fonteBotao{
    font-family: Roboto;
}

.fonteFooter{
    font-size: 17px;
    color: white;
    width: 100%;
    height: 90%;
    font-family: Archivo Narrow;
}

.fonteFooterDestaque{
    font-size: 22px;
}

.imagemContato{
    text-align: center;
}

.fontePlanosAssinatura{
     font-weight: bold;
     font-size: 22px;
     color: #322653;
     font-family: Archivo Narrow;
}

.cH{
    background-color: white;
    height: 490px;
    border: transparent;
}

.cardsAssinatura{
    border-radius: 15%;

}
.cardMeioAssinatura{
    background-color: white;
}

.conteinerFilho{
    width: 145px;
    height: 200px;
}

.imagemContainer{
    width: 100%; 
    height: 100%;
    border-radius: 4%;
}

:root{
    --cor--primaria: #6447aa; 
    --cor--segundaria: #FAEA48; 
    --cor--terciaria: white; 
    --cor--fonte--login: #322653;
}

body{
    background-color: #6447aa;
}


.containerPrincipal{
    background-color: white;
    display: flex;
    border-color: transparent;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 98%;
    backdrop-filter: blur(100%);
}

.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.monitoraseMenu:hover{
    color: #6447aa;
}


.botoesMenu:hover{
    background-color: transparent; /* Nova cor de fundo quando hover */
    color:#6447aa;
}

.btn-bd-login {
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: #322653;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #322653;
    --bs-btn-hover-bg: #FAEA48;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: #322653;
    --bs-btn-active-color: #322653;
    --bs-btn-active-bg: #322653;
    --bs-btn-active-border-color:white;
}

.btn-bd-lupa {
    --bs-btn-bg: transparent 
    --bs-btn-border-color: transparent;
    --bs-btn-active-border-color: transparent;
}

.btn-bd-PlanosAssinatura {
    --bs-btn-font-weight: 550;
    --bs-btn-color: white;
    --bs-btn-bg: #322653;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #322653;
    --bs-btn-hover-bg: #FAEA48;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: #322653;
    --bs-btn-active-color: #322653;
    --bs-btn-active-bg: #322653;
    --bs-btn-active-border-color:white;
}

.active {
    background-color: transparent;
    color: #322653;  
}

.card-Imagem{
    background-color: white;
    border-color: #FAEA48;
}

.review {
    background: white;
    transition: all 0.3s linear;
    text-align: center;
  }
  .review:hover {
    box-shadow: violet;
  }
  .img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  
  #person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }


  .img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background:#322653;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
  }
  #author {
    margin-bottom: 0.25rem;
  }
  #job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color:#6447aa;
    font-size: 0.85rem;
  }
  #info {
    margin-bottom: 0.75rem;
  }
  .prev-btn,
  .next-btn {
    color:#6447aa;
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .prev-btn:hover,
  .next-btn:hover {
    color:#322653;
  }
  .random-btn {
    margin-top: 0.5rem;
    background: white;
    color:#322653 ;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    transition: all 0.3s linear;
    border-color:#6447aa;
    cursor: pointer;
  }

  .random-btn:hover {
    background-color: transparent; /* Nova cor de fundo quando hover */
    color:#6447aa;
  }


/* 
-------------------------------------------------------------------------------------------------
Estilos especificos da tela Login
-------------------------------------------------------------------------------------------------
*/


.main-login {
  display: flex;
  justify-content: center;
  margin: 8%;

}


.retangulo__branco{

  width: 483px;
  height: 562px;
  border-radius: 50px;
  background: #FFF;
  

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  
 padding: 2%;
  
}


.login-titulo {   
  
  color: #000;
  text-align: center;
  font-family: Archivo Narrow;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;


}

.container-imput {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}


.email-senha {
  color: #000;
  font-family: Archivo Narrow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {

  width: 100%;
  height: 2.5rem;
  flex-shrink: 0;

  color: rgba(0, 0, 0, 0.26);
  font-family: Roboto;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}



.input-entrar {

  width: 146px;
  height: 35px;
  border: none;
  cursor: pointer;
  
  
  border-radius: 10px;
  background: #FAEA48;
}


/* 
-------------------------------------------------------------------------------------------------
Estilos especificos da tela Produto
-------------------------------------------------------------------------------------------------
*/




.nav-produto1 {
  margin: 0;
}